.btn.remove_exports {
    background-color: var(--bs-btn-bg) !important;
}

.btn.btn-primary.clear-cache {
    background-color: var(--bs-btn-bg) !important;
    border-color: var(--bs-btn-border-color) !important;
}
.btn.btn-primary {
    --bs-btn-bg: var(--e-global-color-secondary) !important;
    --bs-btn-border-color: var(--e-global-color-secondary) !important;
}
div.modal-footer .btn.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}