.btn.remove_exports {
    background-color: var(--bs-primary) !important;
}

.btn.btn-primary.clear-cache {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.btn.btn-primary {
    background-color: #198754 !important;
    border-color: #198754 !important;;
}

div.modal-footer .btn.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}
div.export-container .btn.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

div.export-container .btn.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}