.input-bg {
  background: #f7f7f7;
}

.h-40 {
  height: 40px;
}

.w-40 {
  width: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif !important;
}

.pagination li a {
  cursor: pointer;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.result-row {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-top: #cccccc 1px dotted;
}

.filter-form-wrapper .well {
  width: 70%;
}
.custom-card{
    width: 50% !important; 
}
.btn:hover {
    color: #fff !important;
    background-color: #5c636a !important;
    border-color: #565e64 !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #0b5ed7 !important;
    border-color: #0a58ca !important;
}

.btn{
    padding:0.375rem 0.75rem !important;
    font-size: 1rem !important;
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.btn-secondary{
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}
.form-check-input{
    border-radius: 0.25em !important;
}
a{
    font-size: 16px !important;
}
.pagination li.active a,
.pagination li a.active{
    color: white !important;
}
.pagination .dots{
    letter-spacing: 3px !important;
    font-weight: bold !important;
}

.result-text{
    font-size: 20px;
    font-weight: bold;
}

.custom-border{
  border: solid 1px #e3e3e3 !important;
}
.card .collapsed{
  background-color: transparent !important;
}
.accordion-button:not(.collapsed) {
  color: #0c63e4 !important;
  box-shadow: inset 0 calc(-1 * 1px) 0 #dee2e6 !important;
}
.accordion-button:focus,
.accordion-button:hover{
  background-color: transparent !important;
}

/* table order arrow */



.table-sortable > thead > tr > th.has_sort {
    cursor: pointer;
    position: relative;
}

.table-sortable > thead > tr > th.has_sort:after,
.table-sortable > thead > tr > th.has_sort:after,
.table-sortable > thead > tr > th.has_sort:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    top: 16px;
}

.table-sortable > thead > tr > th.has_sort:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: 0px solid transparent;
}

.table-sortable > thead > tr > th.has_sort:hover:after {
    border-top: 5px solid #888;
}

.table-sortable > thead > tr > th.has_sort.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #333;
}
.table-sortable > thead > tr > th.has_sort.asc:hover:after {
    border-bottom: 5px solid #888;
}

.table-sortable > thead > tr > th.has_sort.desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: 5px solid transparent;
}