.excel-table-container {
  overflow-x: auto;
  height: 100vh;
}

.excel-table-container-auto-height {
  height: unset !important;
}

.excel-table-container table {
  border-collapse: collapse;
  width: 100%;
}

.excel-table-container th,
.excel-table-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.excel-table-container th {
  background-color: #0070C0 !important; /* Background color for the first row */
  color: #fff; /* Font color for the first row */
  font-weight: bold; /* Bold font for the first row */
  position: sticky;
  top: 0;
  z-index: 1;
  vertical-align: middle;
}


.excel-table-container td:first-child,
.excel-table-container th:first-child {
  position: sticky;
  left: 0;
  background-color: #8064A2 !important; /* Background color for the first column */
  color: #fff; /* Font color for the first column */
  font-weight: bold; /* Bold font for the first column */
  z-index: 2; /* Increased z-index to ensure it's above the first row */
  text-align: center;
  vertical-align: middle;
}

.excel-table-container th:first-child {
  z-index: 4; /* Higher z-index to ensure it's above other headers and cells */
}

.emergency-contacts-table p {
  width: 210px;
}

.emergency-contacts-table tr th:first-child p,
.emergency-contacts-table tr td:first-child p {
  width: 100px;
}

svg.e-font-icon-svg.e-fas-phone-volume {
  width: var(--e-icon-list-icon-size, 1em);
  height: var(--e-icon-list-icon-size, 1em);
}

