.excel-table-container {
  overflow-x: auto;
  max-height: 95vh;
}

/*.excel-table-container-auto-height {*/
/*  height: unset !important;*/
/*}*/

.excel-table-container table {
  border-collapse: collapse;
  width: 100%;
}

.excel-table-container th,
.excel-table-container td {
  border: 1px solid #ddd;
  padding: 8px;
}

.excel-table-container th {
  background-color: #0070C0 !important; /* Background color for the first row */
  color: #fff; /* Font color for the first row */
  font-weight: bold; /* Bold font for the first row */
  position: sticky;
  top: -2px;
  z-index: 1;
  vertical-align: middle;
}


.excel-table-container td:first-child,
.excel-table-container th:first-child {
  position: sticky;
  left: -2px;
  background-color: #8064A2 !important; /* Background color for the first column */
  color: #fff; /* Font color for the first column */
  font-weight: bold; /* Bold font for the first column */
  /*z-index: 2; !* Increased z-index to ensure it's above the first row *!*/
  text-align: center;
  vertical-align: middle;
}

.excel-table-container th:first-child {
  z-index: 4; /* Higher z-index to ensure it's above other headers and cells */
}

.excel-table-container p {
  width: 210px;
  word-wrap: break-word;
}

.excel-table-container tr th:first-child p,
.excel-table-container tr td:first-child p {
  width: 100px;
}

svg.e-font-icon-svg.e-fas-phone-volume {
  width: var(--e-icon-list-icon-size, 1em);
  height: var(--e-icon-list-icon-size, 1em);
}

.sub-menu-arrow-css .elementor-item.has-submenu .sub-arrow,
.display-none {
  display: none;
}

span.sub-arrow {
  display: none !important;
}

.margin-top-5pc {
  margin-top: 5%
}

.margin-top-10px {
  margin-top: 10px
}

.btn {
  padding: 0.375rem 0.75rem !important;
  font-size: 1rem !important;
  color: #fff !important;
  background-color: var(--e-global-color-secondary) !important;
  border-color: var(-e-global-color-secondary) !important;
}

.btn-primary {
  -bs-btn-bg: var(--e-global-color-secondary) !important;
  --bs-btn-border-color: var(--e-global-color-secondary) !important;
}

.btn:hover {
  color: #fff !important;
  background-color: #5c636a !important;
  border-color: #565e64 !important;
}

.btn-primary:hover {
  color: #fff !important;
}

a.scjpc-cable-markings {
  display: flex !important;
  gap: 5px !important;
  margin: 5px 0 !important;
}

/*a.has-submenu > i.wpmi__icon {*/
/*  padding-top: 2px;*/
/*}*/

.eael-team-content li a {
  font-family: unset;
  font-size: unset;
}

.eael-team-content ul {
  margin: 11px;
}
