@media screen and (max-width: 1024px) {
    .custom-card{
        width: 75% !important; 
    }
}

@media screen and (max-width: 992px) {
    .advance-custom-card{
        width: 100% !important;
    }
} 


@media screen and (max-width: 768px) {
    .custom-card{
        width: 100% !important; 
    }
}

@media screen and (max-width: 576px) {
    .btn {
        padding: 0.15rem 0.75rem !important;
        font-size: 0.75rem !important;
    }
    .needs-validation .custom-border{
        border: none !important;
    }
    .result-text {
        font-size: 14px !important;
    }
}